#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  height: fit-content;

  /* padding: 2rem; */
  justify-content: space-between;
  gap: 1px;

  background-color: aqua;

  font-family: "Inter", sans-serif;
}
