@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.input {
  @apply pl-10 focus:outline-none focus:border-blue-500 shadow-sm focus:shadow-xs focus:shadow-blue-500 transition-all w-full dark:text-slate-100 
  dark:bg-slate-800 dark:placeholder:text-slate-400 dark:border-slate-700 dark:focus:border-blue-400;
}

.search-btn {
  @apply bg-blue-500 text-white pl-6 pr-6 pt-3 pb-3 font-medium cursor-pointer dark:bg-blue-600;
  /* scale-100 transition-all hover:scale-105; */
}

.imgs-container {
  @apply w-full relative flex items-center flex-col text-center;
}

.imgs-speakers {
  @apply w-70 h-70;
}

.element-shape {
  @apply rounded-4xl;
}

.search-list-shape {
  @apply w-fit max-h-30 p-2 pl-4 bg-white border-1 border-gray-100 flex items-center justify-center gap-2 cursor-pointer hover:bg-gray-100 transition-all h-10 scale-100 transition-all dark:bg-slate-800 dark:border-slate-700 dark:text-slate-200 dark:hover:bg-slate-700;
}
.search-list-hover {
  @apply bg-blue-400 dark:bg-blue-600

 text-white scale-110 hover:text-black transition-all dark:hover:text-slate-100;
}

.search-list-x {
  @apply w-6 hover:bg-slate-200 pt-1 pb-1 pl-1 pr-1 rounded-2xl transition-all cursor-pointer dark:stroke-slate-300 dark:hover:stroke-slate-700;
}

.search-list-delete {
  @apply rounded-md p-2 pr-4 pl-4 text-rose-400 font-medium w-fit cursor-pointer border-1 border-rose-400 hover:bg-red-100 transition-all mt-4 dark:text-rose-300 dark:hover:bg-rose-900/30 dark:border-rose-800;
}

.basic-alight {
  @apply flex items-center justify-center flex-col text-center;
}
.pagination-item-shape {
  @apply p-2 rounded-md border-1 border-slate-300 cursor-pointer min-w-10 min-h-10 flex items-center justify-center hover:bg-gray-100 dark:bg-slate-800 dark:border-gray-600 dark:text-white transition-all active:scale-120 dark:hover:bg-slate-700;
}

.pagination-item-active {
  @apply p-2 rounded-md border-1 border-slate-300 cursor-pointer min-w-10 min-h-10 flex items-center justify-center bg-blue-400 text-white dark:dark:bg-blue-600;
}

.pagination-arrow {
  @apply transition-all active:scale-105;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: bg-slate-200; /* dark */
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 10px;
  border: 2px solid bg-slate-200;
}

::-webkit-scrollbar-thumb:hover {
  background-color: bg-slate-200;
}
